.button-border {
    display: inline-block;
    border-left: 0.2vw solid #ffffff;
    border-top: 0.2vh solid #ffffff;
    border-right: 0.2vw solid #000000;
    border-bottom: 0.2vh solid #000000;

    .button {
        cursor: pointer;
        display: table;
        background-color: $light-grey;
        border-right: 0.2vw solid $dark-grey;
        border-bottom: 0.2vh solid $dark-grey;
        text-align: center;

        .button-text {
            display: table-cell;
        }
    }
}
