.clock-border {
    float: right;
    margin-right: 0.8vw;
    width: 11vw;
    height: 4vh;
    .clock {
        width: 10vw;
        height: 3vh;
        padding: 0.4vmin;
        line-height: 3vh;
        vertical-align: middle;
        .clock-text {
            font-weight: normal;
            text-align: center;
        }
    }
}
