.sunken-element-border {
    display: inline-block;
    border-left: 0.2vw solid $dark-grey;
    border-top: 0.2vh solid $dark-grey;
    border-right: 0.2vw solid #ffffff;
    border-bottom: 0.2vh solid #ffffff;
    .sunken-element {
        display: table;
        background-color: $light-grey;
        text-align: center;
        .sunken-element-text {
            display: table-cell;
        }
    }
}
 
