.taskbar-border {
    position: absolute;
    bottom: 0vmin;
    left: 0vmin;
    width: 100%;
    height: 5.4vh;
    border-top: 0.2vh solid $light-grey;

    .taskbar {
        background-color: $light-grey;
        border-top: 0.2vh solid #ffffff;
        height: 5.2vh;
        padding: 0.4vmin;
        width: 100%;

        .start-button {
            height: 3vh;
            padding: 0.4vmin;
            .start-button-logo {
                margin-right: 0.6vw;
            }
            .start-button-sub-content {
                vertical-align: middle;
                line-height: normal;
                font-weight: bold;
            }
            .start-button-logo {
                height: 2.8vh;
                width: 2.8vh;
            }
        }
        .taskbar-button-border {
            margin-left: 0.4vw;
            width: 21vw;
            .taskbar-button {
                height: 3vh;
                width: 20.4vw;
                padding: 0.4vmin;
                line-height: 3vh;
                text-align: left;
            }
        }
        @import 'clock';
    }
}
