.window-border {
    position: absolute;
    border-left:2px solid $light-grey;
    border-top:2px solid $light-grey;
    border-bottom:2px solid #000000;
    border-right:2px solid #000000;
    display:inline-block;
    .window {
        background-color: $light-grey;
        border-left:2px solid #ffffff;
        border-top:2px solid #ffffff;
        border-bottom:2px solid $dark-grey;
        border-right:2px solid $dark-grey;
        padding:2px;

        .window-title {
            background-color: $dark-blue;
            height:28px;
            padding:4px;
            .window-title-text {
                line-height:28px;
                vertical-align:central;
                color:#ffffff;
                display:inline-block;
                font-family: $main-font;
                font-weight: bold;
            }
            .close-window-button-border {
                float:right;
                width:28px;
                height:24px;

                .close-window-button {
                    float:right;
                    width:26px;
                    height:22px;
                    line-height:22px;
                }
            }
        }
        
        .window-content {
            width:100%;
            height:100%;
            padding: 32px 30px 38px;
        }
    }
}
