@import 'colors';

@import 'font';

#body-wrapper {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: $wallpaper-teal;
}

body {
    overflow:hidden;
    font: $main-font;
}

#window-contents {
    display:none;
}
